# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
metro-debug.log

# React Native / Node
node_modules/
package-lock.json
yarn.lock

# Babel
*.babelrc
*.babel.json

# Android
/android/.gradle/
/android/app/build/
/android/build/
/android/.idea/
/android/local.properties
/android/app/debug.keystore
*.iml

# Gradle
.gradle/
build/
gradle-app.setting

# iOS
/ios/Pods/
/ios/build/
/ios/DerivedData/
/ios/*.xcuserdata
*.xcuserstate
*.xcworkspace
*.xcconfig
*.pbxuser
*.mode1v3
*.mode2v3

# Xcode
.DS_Store
*.swp
*.xccheckout
*.xccheckout
*.moved-aside
*.xcscmblueprint

# App Bundles
*.apk
*.aab
*.ipa

# Buck
.buckconfig.local
.buckd/
*.buckd

# Watchman
.watchmanconfig

# TypeScript
*.tsbuildinfo

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# VSCode
.vscode/

# Env files
.env
.env.local
.env.development
.env.production
.env.test

# Temporary files
tmp/
temp/

#Expo 
.expo/
.expo-shared/